* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    margin: 0px;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 45px;
    padding: 0 10px;
    color:rgb(29, 29, 31)
}


#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.navbar-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #363636;
    text-decoration: none;
    font-size: 12px;
}

.apple-logo {
    height: 17px;
    width: 17px;
    margin-right: 10px; /* Add some space */
}

.icons-box {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.promotion-text-container-light {
    position: relative;
    margin-bottom: 10px;
}

.promotion-text-container-dark {
    position: relative;
    margin-bottom: 10px;
}


.overlay-text {
    position: absolute;
    top: 20%; /* Center vertically. Adjust as needed */
    left: 50%; /* Center horizontally. Adjust as needed */
    transform: translate(-50%, -50%); /* Ensures the text is centered */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* You may need to add color, padding, backgrounds etc. to the text for visibility */
.promotion-product-heading {
    color: #363636;
    font-size: 50px;
    font-weight: 600; 
}

.promotion-product-description {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
}

#main-promotion-img {
    height: 620px;
    width: 100vw;
}


.multiple-column-promotion-container {
    margin-bottom: 10px;
}

.image-link {
    position: relative;
    display: block;
}



.title-overlay,
.subtitle-overlay,
.title-overlay-2,
.description-overlay,
.description-overlay-2,
.buy-overlay,
.buy-overlay-2,
.buy-overlay-3  {
    position: absolute;
}

.hamburger-icon {
    display: block;
    cursor: pointer;
}

/* Add the following CSS code for the mobile menu */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(21, 21, 22);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.mobile-menu.active {
    display: flex;
    align-items: center;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: calc(100vw - 100px);
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
/* Position and style these elements according to your design */

/* Mobile view */
@media screen and (max-width: 767px) {
    .overlay-text {
        position: absolute;
        top: 15%; /* Center vertically. Adjust as needed */
        left: 50%; /* Center horizontally. Adjust as needed */
        transform: translate(-50%, -50%); /* Ensures the text is centered */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .overlay-text-2 {
        position: absolute;
        top: 25%; /* Center vertically. Adjust as needed */
        left: 50%; /* Center horizontally. Adjust as needed */
        transform: translate(-50%, -50%); /* Ensures the text is centered */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .overlay-text-3 {
        position: absolute;
        top: 22%; /* Center vertically. Adjust as needed */
        left: 50%; /* Center horizontally. Adjust as needed */
        transform: translate(-50%, -50%); /* Ensures the text is centered */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    
    header {
        display: flex;
        align-items: center;
        flex-direction: row;
        height: 45px;
    }

    #navbar {
        width: 100vw; /* Full width in mobile view */
    }

    #navigation-link-container {
        display: none; /* Hide navbar links */
    }
    
    .hamburger-icon {
        display: block; /* Show hamburger icon */
    }
        
    /* You may need to add color, padding, backgrounds etc. to the text for visibility */
    .promotion-product-heading {
        display: flex;
        justify-content: center;
        color: #363636;
        font-size: 35px;
        width: 90vw;
        font-weight: 600; 
    }

    .promotion-product-description {
        display: flex;
        justify-content: center;
        font-size: 17px;
        width: 90vw;
        font-weight: 400;
        color: #000000;
    }

    .promotion-product-heading-dark {
        font-size: 35px;
        height: auto;
        font-weight: 600; 
        color: #fff;
    }

    .promotion-product-description-dark {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
    }
    #main-promotion-img {
        height: 420px;
        width: 100vw;
    }

    #buy-link-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #2667ff;
        font-weight: 200;
        padding-top: 10px;
        width: 100vw;
    }    
    #buy-links {
        margin-right: 30px;
    }
    .desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
    .title-overlay {
        top: 15%;
        left: 50%;
        font-size: 30px;
        font-weight: 600;
        transform: translate(-50%, -50%);
        color: white;
    }
    .title-overlay-2 {
        top: 15%;
        left: 50%;
        font-size: 30px;
        font-weight: 600;
        transform: translate(-50%, -50%);
        color: black;
    }
    
    .description-overlay {
        top: 23%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        display: flex;
        justify-content: center;
        color: black;
    }
    
    .description-overlay-2 {
        top: 27%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }

    .buy-overlay {
        top: 31%;
        left: 50%;
        color: #2667ff;
        width: 190px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: translate(-50%, -50%);
        font-size: large;
    }
    .buy-overlay-2 {
        top: 35%;
        left: 50%;
        color: #2667ff;
        width: 190px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: translate(-50%, -50%);
        font-size: large;
    }
    .buy-overlay-3 {
        top: 29%;
        left: 50%;
        color: #2667ff;
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: translate(-50%, -50%);
    }
    .multiple-column-img {
        width: 100vw;
        height: 420px;
    }
    .multiple-column-promotion-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .subtitle-overlay {
        color: red;
        top:22%;
        left: 50%;
        font-size: 12px;
        font-weight: 600px;
        transform: translate(-50%, -50%);
    }
    
    .hamburger-icon {
        display: block;
    }

    /* Add the following CSS code for the mobile menu */
    
    #navigation-link-container {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.active {
        display: flex;
    }
    .close-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        margin-top: 10px;
        margin-right: 10px;
      }
    footer {
        background-color: #f5f5f7;
        padding-top: 10px;
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10px;
        border-bottom: 1px solid #d2d2d7;
        padding-bottom: 20px;
    }
    
    .footer-text {
        color: rgb(110, 110, 115);
        width: 90vw;
        font-size: 12px;
        margin-top: 10px;
    }
    
    #footer-navbar-links {
        display: none;
    }
    
}



/* Desktop view */
@media screen and (min-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 45px;
        position: sticky;
        top: 0;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75vw; /* 65% width in desktop view */
    }

    #navigation-link-container {
        display: flex; /* Show navbar links */
        align-items: center;
        justify-content: space-between; /* Space out links */
        color: #363636;
        text-decoration: none;
        font-size: 12px;
        width: 60vw;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 20px;
    }

    .navbar-link {
        color: #363636;
        text-decoration: none;
        font-size: 12px;
    }

    .hamburger-icon {
        display: none; /* Hide hamburger icon */
    }
        
    /* You may need to add color, padding, backgrounds etc. to the text for visibility */
    .promotion-product-heading {
        color: #363636;
        font-size: 50px;
        font-weight: 600; 
    }

    .promotion-product-description {
        font-size: 25px;
        font-weight: 400;
        color: #000000;
    }

    #main-promotion-img {
        height: 620px;
        width: 100vw;
    }

    .overlay-text {
        position: absolute;
        top: 20%; /* Center vertically. Adjust as needed */
        left: 50%; /* Center horizontally. Adjust as needed */
        transform: translate(-50%, -50%); /* Ensures the text is centered */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    } 
    
    .overlay-text-2 {
        position: absolute;
        top: 20%; /* Center vertically. Adjust as needed */
        left: 50%; /* Center horizontally. Adjust as needed */
        transform: translate(-50%, -50%); /* Ensures the text is centered */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 1;
    } 

    #buy-link-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #2667ff;
        font-weight: 200;
        padding-top: 10px;
        width: 100vw;
    }

    #buy-links {
        width: 110px;
        margin-right: 40px;
    }

    .buy-links-2 {
        width: 300px;
        margin-right: 40px;
    }
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    .overlay-text-3 {
        position: absolute;
        top: 22%; /* Center vertically. Adjust as needed */
        left: 50%; /* Center horizontally. Adjust as needed */
        transform: translate(-50%, -50%); /* Ensures the text is centered */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .buy-overlay-3 {
        position: absolute;
        top: 26%; /* Adjust the distance from the bottom as needed */
        left: 50%;
        transform: translateX(-50%);
        color: #2667ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
      }
      
      .buy-overlay-3 > div {
        margin-bottom: 10px;
      }
      
    .promotion-product-heading-dark {
        font-size: 50px;
        height: auto;
        font-weight: 600; 
        color: #fff;
    }

    .promotion-product-description-dark {
        font-size: 25px;
        font-weight: 400;
        color: #fff;
    }
    #ipad-promotion-gif {
        position: relative;
        width: 100%;
        height: 100vh; /* adjust this value according to your needs */
        object-fit: cover;
        object-position: center;
    }
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    .title-overlay-2 {
        top: 15%;
        left: 50%;
        font-size: 50px;
        font-weight: 600;
        color: black;
        transform: translate(-50%, -50%);
    }
    .title-overlay {
        top: 15%;
        left: 50%;
        font-size: 50px;
        font-weight: 600;
        color: white;
        transform: translate(-50%, -50%);
    }

    .description-overlay {
        top: 22%;
        left: 50%;
        color: black;
        font-weight: 400;
        font-size: 20px;
        transform: translate(-50%, -50%);
    }
    .description-overlay-2 {
        top: 27%;
        left: 50%;
        color: white;
        font-size: 20px;
        transform: translate(-50%, -50%);
        font-weight: 400;
    }

    .subtitle-overlay {
        color: red;
        top:22%;
        left: 50%;
        font-size: 14px;
        font-weight: 400px;
        transform: translate(-50%, -50%);
    }
    
    .buy-overlay {
        top: 28%;
        left: 50%;
        color: #2667ff;
        width: 190px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: translate(-50%, -50%);
    }
    .buy-overlay-2 {
        top: 33%;
        left: 50%;
        color: #2667ff;
        width: 190px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: translate(-50%, -50%);
    }   

    .multiple-column-img {
        width: calc(50vw - 20px);
        height: 580px;
    }
    .multiple-column-promotion-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    footer {
        background-color: #f5f5f7;
        padding-top: 20px;
        width: 100vw;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
    }
    
    .footer-text {
        color: #6e6e73;
        width: 65vw;
        font-size: 12px;
        margin-top: 10px;
    }
    
    #footer-navbar-links {
        height: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
    #footer-navbar-links-container {
        margin-top: 20px;
        width: 65vw;
        border-top: 1px solid #d2d2d7;
        border-bottom: 1px solid #d2d2d7;
        padding-bottom: 10px;
    }
    
    .footer-nav-links {
        display: flex;
        flex-direction: column;
    }
    .footer-nav-link-header {
        color: rgb(29, 29, 31);
        font-size: 12px;
        margin-top: 20px;
        font-weight: 600;
    }
    .footer-nav-link {
        color: rgb(66, 66, 69);
        margin-top: 10px;
        font-size: 12px;
    }
}